<div class="container mt-3 ">
    <div class="row">
        <div class="col-6 border">
            <img src="https://images.indianexpress.com/2021/04/f94f4890-0f3f-4dca-a399-472a191decf3.jpg" alt="mobile" height="300px" width="500px">
        </div>
        <div class="col-6">
            <h5>MOTOROLA G60 (Moonless, 128 GB)  (6 GB RAM)</h5>
            <h4>₹14,999</h4>
            <p><del>₹21,999</del></p>
            <caption>Highlights</caption>
            <ul>
                <li>6 GB RAM | 128 GB ROM</li>
                <li>17.22 cm (6.78 inch) Full HD+ Display</li>
                <li>108MP + 8MP + 2MP | 32MP Front Camera</li>
                <li>6000 mAh Battery</li>
                <li>Qualcomm Snapdragon 732G Processor</li>
                <li>120Hz Refresh Rate</li>
                <li>Stock Android Experience</li>
            </ul>
            
        </div>
    </div>
    <button type="button" class="btn btn-warning my-3">Add to cart</button>
    <button type="button" class="btn btn-primary my-3" >Buy now</button>
    <div class="row border description">
        <h3 class="border">Specifications</h3>
        <caption>General</caption>
        <div class="col-3">In The Box</div>
        <div class="col-9">Handset, Charger, USB Cable, SIM Tool, Protective Cover,user Guides</div>
        <div class="col-3">Model Number</div>
        <div class="col-9">PANB0023IN</div>
        <div class="col-3">Model Name</div>
        <div class="col-9">G60</div>
        <div class="col-3">Color</div>
        <div class="col-9">Moonless</div>
        <div class="col-3">Browse Type</div>
        <div class="col-9">Smartphones</div>
        <div class="col-3">SIM Type</div>
        <div class="col-9">Dual Sim</div>
        <div class="col-3"></div>
        <div class="col-9"></div>
        <div class="col-3"></div>
        <div class="col-9"></div>
    </div>
    
</div>

